.pricingWrapper{
    height:fit-content;
    min-height:100vh;
}

.divider{
    height:2px;
    width:80%;
    background-color: white;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:20px;
}

.dividerBlack{
    height:2px;
    width:80%;
    background-color: black;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:20px;
}

.pricingTitle{
    margin-top:3%;
    font-weight:900;
    text-align: center !important;
}

.pricingCardWrapper{
    height:fit-content;
    width: 96%;
    margin-top:3% !important;
    margin-left:auto !important;
    margin-right:auto !important;
}

.pricingCardShell{
    max-width:600px !important;
    min-height:550px;
    height:500px;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:10px;
    margin-right:auto;
    margin-left:auto;
}

.pricingCard{
    color:white;
    height:100%;
    width:99%;
    border: 1px solid black;
    border-radius: 1rem;
    position:relative !important;
    animation-name:landPricingCard;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-duration:1.3s;
    animation-fill-mode: forwards;
}

@keyframes landPricingCard {
    from {
        border-radius: 25% 75% 25% 75% / 76% 21% 79% 24% ;
    } to {
        border-radius: 3% 97% 3% 97% / 97% 3% 97% 3%   ;
        /* border-radius:1rem; */
    }   
}

.pricingCardText{
    text-align: left;
    width:97%;
    padding-left:7.5%;
    height:fit-content;
    font-weight: 700;
}

.pricingCardTitle{
    font-weight: 900;
    font-size:20px;
    margin-top:10px;
}


.pricingCardHeader{
    margin-top:4% !important;
    animation-name:landPricingCardHeader;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-duration:1.3s;
    animation-fill-mode: forwards;
}

@keyframes landPricingCardHeader {
    from {
        opacity:0%;
        transform:translateY(-5%);
    } to {
        opacity:100%;
        transform:translateY(0%);
    }   
}

.pricingCardBody{
    height:65%;
    margin-top:3%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    animation-name:landPricingCardBody;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-duration:1.3s;
    animation-fill-mode: forwards;
}

@keyframes landPricingCardBody {
    from {
        opacity:0%;
        transform:translateX(-2%);
    } to {
        opacity:100%;
        transform:translateX(0%);
    }   
}

.pricingPackageWrapper{
    border:1px solid white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding:3%;
    border-radius: 1rem;
}

@media screen and (max-width: 400px){
    .pricingPackageWrapper{
        border:none;
    }
}

.pricingCardTitleInfo{
    font-weight:800;
}

.costBreakdown{
    font-weight: 600;
    position:absolute !important;
    right:4%;
    bottom:-8%;
}

.costBreakdown:hover{
    cursor:pointer;
    animation-name:hoverCostBreakdown;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-duration:0.3s;
    animation-fill-mode: forwards;
}

@keyframes hoverCostBreakdown {
    from {
    } to {
        transform: translateX(3px);
    }   
}

#mobilityStretching-1{
    background:    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(48, 1, 1, 0.856)
      ), url("../../resources/stretching-1.jpeg");
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

#home-pt-1{
    background:    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(48, 1, 1, 0.856)
      ), url("../../resources/home-pt-1.jpeg");
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

#gym-1{
    background:    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(48, 1, 1, 0.856)
      ), url("../../resources/gym-1.jpeg");
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

#gym-2{
    background:    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(48, 1, 1, 0.856)
      ), url("../../resources/gym-2.jpeg");
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}


.pricingDisclaimer{
    border-radius:1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height:fit-content;
    margin-bottom: 5%;
    padding:3%;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
}